@tailwind base;
@tailwind components;
@tailwind utilities;
.tournament-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tournament-brackets {
  display: flex;
  background-color: #fdfdfd;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: center;
}
.bracket {
  display: flex;
  margin: 0;
  padding: 30px 0;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
.bracket:first-of-type {
  .team-item:before {
    display: none;
  }
}
.bracket:last-of-type {
  .team-item:before {
    display: none;
  }
}

.team-item {
  display: block;
  margin: 0.5rem 10px;
  position: relative;
  vertical-align: middle;
  line-height: 2;
  width: 175px;
  text-align: center;
  border-style: unset;
}
.team-item::after {
  border-style: none;
}
.team-item.item-left:before,
.team-item.item-mid:before {
  content: "";
  border-top: 2px solid #7cd4fd;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}
.team-item.item-right:before,
.team-item.item-mid:after {
  content: "";
  border-top: 2px solid #7cd4fd;
  position: absolute;
  height: 2px;
  width: 10px;
  right: -10px;
  top: 50%;
}

.team-item.item-left:after {
  content: "";
  border-color: #7cd4fd;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.team-item.item-left:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}
.team-item.item-left:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}
.team-item.item-left:before {
  content: "";
  border-top: 2px solid #7cd4fd;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

.team-item.item-right:after {
  content: "";
  border-color: #7cd4fd;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  left: -11px;
}
.team-item.item-right:nth-of-type(odd):after {
  border-left-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}
.team-item.item-right:nth-of-type(even):after {
  border-left-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}
.team-item.item-right:before {
  content: "";
  border-top: 2px solid #7cd4fd;
  position: absolute;
  height: 2px;
  width: 10px;
  right: -10px;
  top: 50%;
}

.bracket-2 {
  .team-item .team-order {
    background-color: #f79009;
    border: 1px solid #f79009;
    color: white;
  }
  .team-item:nth-of-type(odd):after {
    height: 200%; /* 2^1 */
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    height: 200%; /* 2^1 */
    top: -150%; /* 2^1 - 50 (top odd) */
  }
}

.bracket-3 {
  .team-item .team-order {
    background-color: #fef0c7;
    border: 1px solid #fef0c7;
    color: #dc6803;
  }
  .team-item:nth-of-type(odd):after {
    height: 400%; /* 2^2 */
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    height: 400%; /* 2^2 */
    top: -350%; /* 2^2 - 50 */
  }
}

.bracket-4 {
  .team-item .team-order {
    background: linear-gradient(to top, #fef0c7 0%, #f79009 79%);
    border: 1px solid #db7b22;
    color: white;
  }
  .team-item:nth-of-type(odd):after {
    height: 800%; /* 2^3 */
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    height: 800%; /* 2^3 */
    top: -750%; /* 2^3 - 50 */
  }
}

.bracket-5 {
  .team-item .team-order {
    background: linear-gradient(to bottom, #e85e40 0%, #db7b22 79%);
    border: 1px solid #db7b22;
    color: white;
  }
  .team-item:nth-of-type(odd):after {
    height: 1600%;
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    height: 1600%;
    top: -1550%;
  }
}

.bracket-6 {
  .team-item .team-order {
    background: linear-gradient(
      -62deg,
      #e3a835 0%,
      #ffd79b 15%,
      #e3a835 36%,
      #ffd79b 61%,
      #f3ac42 81%
    );
    border: 1px solid gold;
    color: rgb(84, 84, 196);
  }
  .team-item:nth-of-type(odd):after {
    height: 3200%;
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    height: 3200%;
    top: -3150%;
  }
}
