.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1216px;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.header p {
  font-size: 1em;
  color: #666;
}

.form-content {
  display: flex;
  gap: 20px;
}

textarea {
  height: 100px;
}

.submit-button {
  padding: 10px 72px;
  border: none;
  background-color: #c6c61a;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #a9a900;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  max-width: 150px;
  margin-bottom: 20px;
}

.image-container input {
  display: none;
}

.image-container label {
  cursor: pointer;
}
