.bg-top {
  background-image: url("../images/hp-bg-1.png");

  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  z-index: -1;
}
.hp-container {
  margin-left: 120px;
  margin-right: 80px;
  margin-top: 176px;
  margin-bottom: 162px;
  display: flex;
  justify-content: space-around;
}
.hp-middle {
  background-image: url("../images/hp-bg-2.png");
  height: 504px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;

  display: flex;
  justify-content: center;
  gap: 100px;
}
.hp-bottom {
  background-image: url("../images/hp-bg-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
