.manager-menu li:nth-of-type(4) {
  margin-top: auto;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0;
}
.manager-header {
  background-color: #212121;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 394px;
  overflow-y: auto;
}
.manager-header ul {
  height: 100%;
}
.manager-header li {
  border-bottom: 1px solid white;
  height: 60px;
  padding-left: 16px;
}
.menu-span.active {
  background-color: #033987;
}
.manager-content {
  margin-left: 394px;
  padding: 20px;
  flex-grow: 1;
  background-color: #fff;
  height: auto;
}
.search-icon {
  position: absolute;
  right: 21px;
  top: 20px;

  font-size: 25px;
}
.search-input {
  padding: 10px 10px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 633px;
  position: relative;
  display: inline-block;
}
.search-container {
  position: relative;
  width: 633px;
  display: flex;
}
.search-input:focus {
  outline: none;
}
.status-container {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.status-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.dot-active {
  background-color: green;
  margin-left: 5px;
}

.dot-inactive {
  background-color: red;
  margin-left: 5px;
}

.status-active {
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #abefc6;
  display: inline-flex;
  padding: 2px;
  cursor: pointer;
}

.status-inactive {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #fecdca;
  display: inline-flex;
  padding: 2px;
  cursor: pointer;
}
